* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  background-color: #1f2933; /* dark background */
  color: white;
  font-family: Arial, sans-serif;
}

#root {
  width: 100%;
}
